.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .mainHeadline{
        margin-top: 3%;
        font-family: Consolas;
        font-weight: bold;
        font-size: 32px;
        text-align: center;
    }
    .contactsContainer {
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
        width: 70%;
        .block{
            display: flex;
            flex-direction: column;
            .headline{
                font-family: Consolas;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
            }
            .text{
                margin-top: 20px;
                font-family: Consolas;
                font-size: 20px;
            }
        }
    }
}