.header{
    width: 100%;
    //height: 10%;
    display: flex;
    justify-content: space-around;
    background-color: #131513;
    .link{
        height: 5%;
        border-left: 3px solid #FFFFFF;
        border-right: 3px solid #FFFFFF;
        font-family: Consolas;
        font-size: 24px;
        background-color: #131513;
        color: #FFFFFF;
        text-decoration: none;
        padding: 10px 50px;
        transition: 0.2s;
        &:hover{
            transition: 0.2s;
            background-color: #FFFFFF;
            color: #131513;
            border-left: 3px solid #131513;
            border-right: 3px solid #131513;
        }
    }
}